:host {
    display: contents;
}

ul {
    backdrop-filter: blur(5px);
    border: 2px solid rgb(2 11 87 / 22%);
    
    /* border-image-source: linear-gradient(22.04deg, rgba(2, 11, 87, 0.4) 1.17%, rgba(32, 49, 145, 0) 97.81%); */
}

ul li {
    margin-bottom: 1.5rem;
}

ul li:last-child {
    margin-bottom: .5rem;;
}