<div class="relative w-full min-h-[calc(100vh-62px)] bg-cover bg-center flex flex-col" *ngIf="game$ | async as gameInfo">
  {{gameInfo.game_number}}
  <div class="p-4 pb-0 max-w-lg mx-auto w-full flex-grow flex flex-col">
    <div class="flex gap-3">
      <app-autocomplete (selected)="onSelected($event)" [players]="gameInfo!.players"
        [gameCompleted]="gameCompleted"></app-autocomplete>
      <button type="button" class="bg-blue-500 hover:bg-blue-700 rounded text-white p-3 cursor-pointer"
        (click)="showHint = !showHint">רמז</button>
    </div>
    <p [ngClass]="{'opacity-100 max-h-40 mt-2': showHint,'opacity-0 max-h-0 overflow-hidden': !showHint}"
      [innerHTML]="gameInfo!.hint" class="hint transition-all duration-500 ease-in-out mt-2 p-2 bg-white/50 rounded-xl">
    </p>

    <ng-container *ngIf="guessedPlayers?.length">
      <h3 class="font-bold text-center mt-16 mb-2">כל הניחושים</h3>
      <ul class="p-5 rounded-xl bg-white/50 min-h-[25vh] max-h-[60vh] md:max-h-[50vh] overflow-auto">
        <li *ngFor="let player of guessedPlayers; trackBy: trackByPlayer">
          <div class="w-full">
            <div class="flex justify-between items-center mb-1">
              <span class="text-black">{{ player.name | decodeuUri }}</span>
              <span class="text-black font-semibold">{{ player.rank | number }}</span>
            </div>
            <div class="w-full bg-[#DEE7FF] rounded-full h-2">
              <div class="h-2 rounded-full transition-all duration-1000 delay-100" [ngStyle]="{'width': guessedPlayersAnimatedWidths[player.id] + '%', 
                            'background-color': guessedPlayersAnimatedColors[player.id]}">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>

    <app-game-nav (pageChanged)="onPageChanged($event)" class="mt-auto" [gameInfo]="gameInfo" *ngIf="gameInfo"></app-game-nav>
  </div>
</div>

<app-result-popup *ngIf="showPopup" (closePopup)="showPopup = false"></app-result-popup>