:host {
    display: contents;
}

ul {
    backdrop-filter: blur(5px);
    border: 2px solid rgb(2 11 87 / 22%);
}

ul li {
    margin-bottom: 1.5rem;
}

ul li:last-child {
    margin-bottom: .5rem;;
}