<h2 class="text-lg font-bold mb-4 text-center">כיצד משחקים?</h2>

<div class="bg-white text-black rounded-lg shadow-lg p-6 text-right text-sm mx-3 sm:mx-0 mb-6">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 items-start">
      <img alt="bullet" src="images/bullet.svg" loading="lazy" />


      <p> יש לכם מספר בלתי מוגבל של ניחושים: מצאו את שחקן הכדורגל הסודי שהוא התשובה שמסתתרת בכל יום.
        בדומה למשחק הילדים "חם קר", לאחר שתזינו שם של שחקן, תוכלו לראות את הדירוג שלו מבחינת הקרבה לשחקן הסודי. הניחוש
        שלכם קרוב - אתם "מתחממים" ומתקרבים ל-1, ככל שהניחוש שלכם רחוק יותר - אתם "מתקרררים" ומתרחקים מהאחד. השחקן הסודי
        מדורג במקום הראשון</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 items-start">

      <img alt="bullet" src="images/bullet.svg" loading="lazy" />
      <p> ⁠השחקנים שניתן לחפש ממוינים על ידי אלגוריתם מיוחד בהתאם לרמת הדמיון שלהם לשחקן הסודי.
        האלגוריתם ניתח אלפי שחקני כדורגל מהעבר ומההווה, הוא משתמש במאפיינים של השחקן, כגון לאום, קבוצות שבהן שיחק, גיל
        ותפקיד במגרש, כדי לחשב את מידת הדמיון ביניהם.
        התפקיד שלכם זה לנסות למצוא את המשותף עד שתגיעו לשחקן המדובר.</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 items-start">
      <img alt="bullet" src="images/bullet.svg" loading="lazy" />

      <div class="flex flex-col gap-2">
        <p>דוגמא, אם השחקן הסודי היה ליונל מסי וניחשתם את דייגו מראדונה:
          דייגו מראדונה 17</p>

        <div class="w-full max-w-md mb-5">
          <div class="flex justify-between items-center mb-1">
            <span class="text-black font-semibold">ליונל מסי</span>
            <span class="text-black font-semibold">17</span>
          </div>
          <div class="w-full bg-[#DEE7FF] rounded-full h-2">
            <div class="bg-[#4FC48A] h-2 rounded-full" style="width: 95%"></div>
          </div>
        </div>

        <p>הדירוג הנמוך (17) מראה שמראדונה קרוב מאוד לשחקן הסודי. מכאן אפשר להסיק ששניהם ארגנטינאים ושניהם שיחקו
          בברצלונה.
          לעומת זאת, אם ניחשתם את ערן זהבי:
          ערן זהבי 7557</p>

        <div class="w-full max-w-md mb-5">
          <div class="flex justify-between items-center mb-1">
            <span class="text-black font-semibold">פיני גרשון</span>
            <span class="text-black font-semibold">17</span>
          </div>
          <div class="w-full bg-[#DEE7FF] rounded-full h-2">
            <div class="bg-red-1000 h-2 rounded-full" style="width: 15%"></div>
          </div>
        </div>

        <p>דירוג כזה גבוה מלמד שהניחוש שלכם - ערן זהבי רחוק מאוד לשחקן הסודי. במקרה כזה, מומלץ לנסות לבחור שחקן אחר
          ושונה לגמרי בניחוש הבא.</p>
      </div>

    </div>


    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 items-start">

      <img alt="bullet" src="images/bullet.svg" loading="lazy" />
      <p> ⁠השחקנים שניתן לחפש ממוינים על ידי אלגוריתם מיוחד בהתאם לרמת הדמיון שלהם לשחקן הסודי.
        האלגוריתם ניתח אלפי שחקני כדורגל מהעבר ומההווה, הוא משתמש במאפיינים של השחקן, כגון לאום, קבוצות שבהן שיחק, גיל
        ותפקיד במגרש, כדי לחשב את מידת הדמיון ביניהם.
        התפקיד שלכם זה לנסות למצוא את המשותף עד שתגיעו לשחקן המדובר.</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 items-start">

      <img alt="bullet" src="images/bullet.svg" loading="lazy" />
      <p> ⁠השחקנים שניתן לחפש ממוינים על ידי אלגוריתם מיוחד בהתאם לרמת הדמיון שלהם לשחקן הסודי.
        האלגוריתם ניתח אלפי שחקני כדורגל מהעבר ומההווה, הוא משתמש במאפיינים של השחקן, כגון לאום, קבוצות שבהן שיחק, גיל
        ותפקיד במגרש, כדי לחשב את מידת הדמיון ביניהם.
        התפקיד שלכם זה לנסות למצוא את המשותף עד שתגיעו לשחקן המדובר.</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 items-start">

      <img alt="bullet" src="images/bullet.svg" loading="lazy" />
      <p> ⁠השחקנים שניתן לחפש ממוינים על ידי אלגוריתם מיוחד בהתאם לרמת הדמיון שלהם לשחקן הסודי.
        האלגוריתם ניתח אלפי שחקני כדורגל מהעבר ומההווה, הוא משתמש במאפיינים של השחקן, כגון לאום, קבוצות שבהן שיחק, גיל
        ותפקיד במגרש, כדי לחשב את מידת הדמיון ביניהם.
        התפקיד שלכם זה לנסות למצוא את המשותף עד שתגיעו לשחקן המדובר.</p>
    </div>
  </div>

  <div class="mt-12 text-center">
    <button class="bg-blue-800 px-6 py-2 rounded-full text-white font-bold hover:bg-blue-600 cursor-pointer text-lg">התחל
      משחק</button>
  </div>
</div>